{% extends 'base.html' %}
{% load staticfiles %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/chosen.min.css' %}">

<style type="text/css" media="all">
    /* fix rtl for demo */
    .chosen-rtl .chosen-drop { left: -9000px; }
  </style>

{% endblock extra_css %}

{% block content %}
    {{ form.media }}
    <h2>Search</h2>

    <form method="get" action=".">
    <!--<form method="post" action="/search/">-->
        <!--{% csrf_token %}-->
        <table>
            {{ form }}
            <tr>
                <td>&nbsp;</td>
                <td>
                    <!--&lt;!&ndash;<select data-placeholder="User..." class="chosen-select" style="width:350px;" tabindex="2">&ndash;&gt;-->
                        <!--&lt;!&ndash;<option value="Brazil">Brazil</option>&ndash;&gt;-->
                        <!--&lt;!&ndash;<option value="USA">USA</option>&ndash;&gt;-->
                    <!--&lt;!&ndash;</select>&ndash;&gt;-->
                    <input type="submit", value="Search">
                </td>
            </tr>
        </table>

        <!--<input type="text" id="id_q" name="q">-->
        <!--<input type="submit" value="Search!">-->


        {% if query %}
            <h3>Results</h3>

            {% for result in page.object_list %}
                <p>
                    <a href="{{ result.object.get_absolute_url }}">{{ result.object.user_name }}</a>
                </p>
            {% empty %}
                <p>No results.</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %} &laquo;Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next%}</a>{% endif %}

                </div>
            {% endif %}
        {% else %}
            <p>Error</p>
        {% endif %}
    </form>

{% endblock content %}

{% block extra_js %}

<script src="{% static 'js/chosen.jquery.min.js' %}" type="text/javascript"></script>
<script type="text/javascript">
    $(function(){
        $(".chosen-select").chosen();
    });
    var config = {
      '.chosen-select'           : {},
      '.chosen-select-deselect'  : {allow_single_deselect:true},
      '.chosen-select-no-single' : {disable_search_threshold:10},
      '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
      '.chosen-select-width'     : {width:"95%"}
    }
    for (var selector in config) {
      $(selector).chosen(config[selector]);
    }
  </script>

{% endblock extra_js %}